<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
</head>
<body>
<div th:fragment="footer" th:remove="tag">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Page loads faster when we place js at the end -->
    <script th:src="@{/js/jquery-slim.min.js}" />
    <script th:src="@{/js/popper.min.js}" />
    <script th:src="@{/js/bootstrap.min.js}" />
    <script th:src="@{/js/ie10-viewport-bug-workaround.js}" />
</div>
</body>
</html>