<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="en">
<head>
</head>
<body>
<div th:fragment="navbar" th:remove="tag">
    <nav class="navbar navbar-expand-md navbar-inverse fixed-top bg-inverse">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="/news/sources">Sources<span class="sr-only">(current)</span></a></li>
                <li class="nav-item active"><a class="nav-link" href="/news/top">Top</a></li>
                <li class="nav-item active"><a class="nav-link" href="/news/latest">Latest</a></li>
                <li class="nav-item active"><a class="nav-link" href="/news/about">About</a></li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>