<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
</head>
<body>
    <div th:fragment="sources" th:remove="tag">
        <h1 class="page-header">News Sources</h1>

        <h2 class="sub-header" th:text="${source}">Source</h2>
        <div class="table-responsive">
            <table class="table table-striped" th:if="${sources != null and not #lists.isEmpty(sources)}">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Description</th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="source : ${sources}">
                        <td th:text="${source.id}">ID</td>
                        <td th:text="${source.name}">Name</td>
                        <td th:text="${source.description}">Description</td>
                        <td th:text="${source.description}">Description</td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>