<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/inc-cover :: head"></th:block> /*/-->
    <title>Asynchronousity</title>
</head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Asynchronousity News Feed</h3>
                    <nav class="nav nav-masthead">
                        <a class="nav-link active" href="/">Home</a>
                        <a class="nav-link" href="/news/top">Top</a>
                        <a class="nav-link" href="/news/latest">Latest</a>
                    </nav>
                </div>
            </div>
            <div class="inner cover">
                <h1 class="cover-heading">Oops.. We have an error</h1>
                <p class="lead">I'm not blaming you, but did you do something crazy?</p>
                <p class="lead">
                    <a href="/" class="btn btn-lg btn-secondary">Continue</a>
                </p>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>authored by <a href="http://www.rlit.us">rlit.us</a> - code <a href="https://github.com/rDevelop/asynchronousity">github</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>